@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(/static/montserrat.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(/static/montserrat-bold.woff) format('woff');
}

html, body{
  height: 100%;
}
body{
  font-family: "Montserrat", arial, sans;
  margin: 0;
  padding: 0;
  color: #222222;
  font-size: 20px;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

.canary-detail-header{
  text-align: center;
}

.canary-detail-header img{
  max-height: 150px;
}

.canary-crawl a {
  margin-right: 40px;
}

p{
  text-align: justify;
  line-height: 24px;
}

h1{
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}

h2{
  font-size: 24px;
  color: #111;
}

.bold{
  font-weight: 700;
}
#content-container a, #content-container  a:visited{
  color: #2a2a2a;
  text-decoration: none;
  border-bottom: 2px solid #ffcc33;
}

#content-container a:hover{
  text-decoration: none;
  background: #ffcc33;
}

#outer-container{
  position: relative;
  min-height: 100%;
}

#inner-container{
  width:1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 70px;
}

#menu{
  background: #000;
  height: 50px;
  width: 1000px;
  background-color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

#menu a, #menu a:visited{
  color: #ffcc33;
  text-decoration: none;
}
#menu a:hover{
  color: #fff;
}
#menu ul{
  width: 635px;
  margin: 0 auto;
  padding-top: 10px;
}
#menu li{
  display: inline;
  padding-right: 20px;
}

#tw-link{
  background: url('/static/twitter-sprite.png');
  background-position: 0 3px;
  width: 30px;
  height: 30px;
  border: 0;
  cursor: pointer;
}

#tw-link:hover{
  background-position: 0 -27px;
}

#header-container{
  height: 260px; 
  background-size: auto 500px;
  background-position: center 0;
}

#title{
  font-size: 80px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  padding: 20px;
  width: 915px;
  margin-left: auto;
  margin-right: auto;
}
   
#title-left{
  display: inline;
  float: left;
  padding-top: 50px;
  padding-right: 20px;
}

#title-right{
  display: inline;
  float: left;
  padding-top: 50px;
  padding-left: 20px;
}

#logo{
  display: inline;
  float: left;
}

#logo img{
  height: 192px;
  width: 192px;
}

#content-container{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#intro-text{
  padding-bottom: 30px;
  text-align: justify;
}

#header-bg{
  width: 100%;
  height: 700px;
  background: url(/static/gold-angle.png);
  position: absolute;
  z-index: -2;
  background-position: center;
  top: 50px;
}

#top-bar{
  height: 50px;
  z-index: -1;
  background: #000;
  width: 100%;
  position: absolute;
}

.canaryContainer{
  height: 215px;
  border: 12px solid black;
  width: 576px;
  background: #ffcc33;
  margin-bottom: 30px;
}

.canaryContainer a:hover ,
.canaryContainer a:visited ,
.canaryContainer a,
#shutdown a,
#shutdown a:hover,
#shutdown a:visited{
  background: none;
  border-bottom: none;
  color: #000;
  text-decoration: underline;
}

.canaryLink{
  display: inline;
  float: left;
  width: 118px;
  height: 118px;
}

.canaryLink img{
  height: 72px;
  width: 72px;
  margin: 23px;
}

.canaryLogo{
  background: #fff;
  display: inline;
  float: left;
  border-right: 12px solid black;
  height: 118px;
  width: 446px;
  font-size: 42px;
  text-align: center;
}

.canaryLogo img {
  vertical-align: middle;
  max-height: 100px;
  max-width: 430px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.canaryDetail{
  padding: 20px;
  border-top: 12px solid black;
  height: 146px;
  color: #0c0c0c;
}

.canaryDetail ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#content-container .canaryContainer a, 
#content-container .canaryContainer a:visited,
#content-container .canaryContainer a:hover {
  color: #0c0c0c;
  text-decoration: underline;
  border-bottom: none;
  background: none;
}

.clear{
  clear: both;
}

#footer{
  background: #ccc;
  width: 600px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left:auto;
  margin-right: auto;
  padding-top: 11px;
}

#footer a{
  color: #666;
  border-bottom: none;
  background: none;
  text-decoration: none;
}

#footer #contact{
  display: inline;
  float: left;
}

#footer #cc-license{
  display: inline;
  float: right;
}

#footer #rss-icon{
  display: inline;
  float: right;
  padding-right: 10px;
}

#bottom-bar{
  height: 50px;
  background: #ccc;
  width: 100%;
  position: absolute;
  bottom: 0;
}
#shutdown{
  height: 100px;
  width 100%;
  background: #ffcc33;
  box-shadow: 3px 3px 3px #ccc;
  padding: 20px;
  border: 5px solid black;
}
.strong{
  font-weight: bold;
}
